@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

/* 音乐播放器向右弹出动画 */
@keyframes slideInFromLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

/* 自定义背景剪切路径 */
.custom-clip-path {
    clip-path: polygon(20% 0%, 100% 0%, 80% 100%, 0% 100%);
}

/* 移动端背景适配 */
@media (max-width: 768px) {
    .custom-clip-path {
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
        width: 100vw !important;
        max-width: 100vw !important;
        right: 0;
        left: 0;
    }
}